@model IEnumerable<BikeTracker.Models.UserDetailsActivityViewModel>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ActivityDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Distance)
			</th>
			@*<th></th>*@
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ActivityDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Distance)
				</td>
			</tr>
		}
	</tbody>
</table>
