@model BikeTracker.Models.StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

@Html.DisplayFor(x => x.AllKilometersPassed)
@Html.DisplayFor(x => x.AverageKilometersPassedByUser)