@model BikeTracker.Models.StatisticsViewModel
@{
    ViewBag.Title = "Statistics";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
	<div class="col-md-8">
		<section class="bs-component">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Total [km]</th>
						<th>Average distance per user [km]</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>@Html.DisplayFor(x => x.AllKilometersPassed)</td>
						<td>@Html.DisplayFor(x => x.AverageKilometersPassedByUser)</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>