@model IEnumerable<BikeTracker.Models.NewsDetailsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
@foreach (var item in Model)
{
    <tr>
        <th>
            @Html.DisplayFor(x => item.Title)
            @Html.DisplayFor(x => item.AddedOn)
        </th>
    </tr>
    <tr>
        <td>
            @Html.Raw(item.Content)
        </td>
    </tr>
}
</table>
<div>
    @Html.ActionLink("Show more", "Index", new { showAll = true })
</div>