@{
    ViewBag.Title = "Confirm Email";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
	<div class="col-md-8">
		<section class="bs-component">
			<div class="alert alert-info">
				<strong>Thank you for confirming your email.</strong> Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
			</div>
		</section>
	</div>
</div>
