@{
    ViewBag.Title = "Login Failure";
	ViewBag.Subtitle = "Unsuccessful login with service";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}