@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
	<div class="col-md-8">
		<section class="bs-component">
			<div class="alert alert-info">
				<strong>Please check your email to reset your password.</strong> Then @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>.
			</div>
		</section>
	</div>
</div>
	
