$c-sii: #002060;
$c-sii-logo: #1961ab;
$c-sii-logo-light: #78adde;
$c-accent: #c00000;

$c-darkest: #000000;
$c-lightest: #ffffff;

$color_nobel_60_approx: rgba(178, 178, 178, 0.6);
$color_picton_blue_60_approx: rgba(72, 181, 233, 0.6);
$color_picton_blue_approx: #002060;

//fonts
$font_0: Open Sans Condensed;
$font_1: sans-serif;