@import "settings";
@import "global";
@import "forms";
@import "lists_tables";


/*** HOME ***/

#map {
    position: relative;

    #map-canvas {
        margin: 0;
        padding: 0;
        height: 400px;
        max-width: none;

        img {
            max-width: none !important;
        }
    }

    .gm-style-iw {
        &.bike-marker{
            width: 350px !important;
        top: 15px !important;
        left: 0 !important;
        background-color: $c-lightest;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 1px 6px $color_nobel_60_approx;
        border: 1px solid $color_picton_blue_60_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px 2px 10px 10px;
        }
        
    }

    #iw-container {
        margin-bottom: 10px;

        .iw-title {
            font-family: $font_0, $font_1;
            font-size: 22px;
            font-weight: 400;
            padding: 10px;
            background-color: $color_picton_blue_approx;
            color: $c-lightest;
            margin: 0;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px 2px 0 0;
        }

        .iw-content {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            margin-right: 1px;
            padding: 15px 5px 20px 15px;
            max-height: 140px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    .iw-subTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
    }

    .iw-bottom-gradient {
        position: absolute;
        width: 326px;
        height: 25px;
        bottom: 10px;
        right: 18px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0, $c-lightest 100%);
    }

    .iw-content img {
        float: right;
        margin: 0 5px 5px 10px;
    }
}


/*** NEWS ***/

.blog {
	margin-top: 20px;
}
