@import "settings";
@import "global";
@import "forms";
@import "lists_tables";


/*** HOME ***/

#map {
    position: relative;
}


/*** ABOUT ***/

.blog {
	margin-top: 50px;
}


/*** CONTACT ***/

.list-group_address {
	.material-icons {
		float: left;
		position: relative;
		top: 10px;
	}
	
	.list-group-item .row-action-primary i, 
	.list-group .list-group-item .row-picture i {
		background: $c-sii-logo;
	}
}