<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
		<a class="navbar-fixed-bottom_logo" href="http://sii.pl">
			<img src="~/Images/Theme/sii-logo.png" alt="Sii logo" />
		</a>
		&copy; @DateTime.Now.Year - Sii BikeTracker
    </div>
	<div class="hidden">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>

