<footer class="navbar-fixed-bottom">
    <div class="container-fluid">
		<a class="navbar-fixed-bottom_logo" href="http://sii.pl">
			<img src="~/Images/Theme/sii-logo.png" alt="Sii logo" />
		</a>
		&copy; @DateTime.Now.Year - Sii BikeTracker
    </div>
</footer>

