@model IEnumerable<BikeTracker.Models.TeamStandingsViewModel>
<table id="standings-table" class="table-inverse display" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Team</th>
			<th>Laps</th>
			<th>Covered</th>
			<th>To Go</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var team in @Model)
		{
			<tr>
				<td>@team.Name</td>
				<td>@team.FinishedLaps</td>
				<td>@team.CurrentDistance km.</td>
				<td>@team.DistanceToGo km.</td>				
			</tr>
		}
	</tbody>	
</table>