@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<h1 class="page-title text-danger">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<div class="row">
	<div class="col-md-8">
		<section class="bs-component">
			<div class="alert alert-error">
				<strong>This account has been locked out</strong>, please try again later.
			</div>
		</section>
	</div>
</div>