@{
    ViewBag.Title = "About";
	ViewBag.Subtitle = "";
}

<h1 class="page-title">@ViewBag.Title</h1>
@if (ViewBag.Subtitle != "")
{
	<h3 class="page-subtitle">@ViewBag.Subtitle</h3>
}

<p>Use this area to provide additional information.</p>

<div class="row">
	<div class="col-md-9">
		<section class="bs-component blog">
			<hr>
			<article>
				<h2>Blog entry title <small class="label label-info">New!</small></h2>
				<h5>By: <a href="">Some author</a> on 10th Sep 2016</h5>
				<p> js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths</p>
			</article>

			<hr>
			<article>
				<h2>Blog entry title</h2>
				<p>sdfcsdfcd</p>
			</article>

			<hr>
			<article>
				<h2>Blog entry title</h2>
				<p>sdfcsdfcd</p>
			</article>
		</section>
	</div>
</div>