@{
    ViewBag.Title = "About";	
}

<h1 class="page-title">About BiSiicle Challenge</h1>
	

<div class="row">
	<div class="col-md-12">	
		<h3>
			About BiSiicle Challenge
		</h3>
		<p>Sii with Dollar UK organise a great charity undertaking - BiSIIcle Challenge – Do IT For IT. The main task for Sii & Dollar employees is to cover simultaneously 1163,4 miles on stationary bikes. Bisiicles are located in Dolar & Sii  Gdansk Branch offices. During 3 months Dollar and Sii teams will travel virtually from Gdansk to Nottingham on bikes and other way round. In BiSiicle Challenge take part - in both teams (max 4 members) and individuals. Team’s locations are available on Google Maps – you can track participants’ progresses whenever you want thanks to this app. Covering a total distance Gdansk-Nottinhgam and Nottingham-Gdansk =  funds for charity.!</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>The Challenge</h3>
		<p>For individuals or small teams (4 Max) to cycle from their office location (Nottingham, Bicester) to Gdansk or If based in Sii from Gdansk to Nottingham.</p>
		<table class="table-bordered table-striped">
			<thead>
				<tr>
					<th>Start Location</th>
					<th>Finish Location</th>
					<th>Total Miles</th>
					<th>Target miles per week</th>
					<th>Miles per day</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nottingham</td>
					<td>Gdansk</td>
					<td>1163.4</td>
					<td>77.6</td>
					<td>15.5</td>
				</tr>
				<tr>
					<td>Bicester</td>
					<td>Gdansk</td>
					<td>1099.6</td>
					<td>73.3</td>
					<td>14.7</td>
				</tr>
				<tr>
					<td>Gdansk</td>
					<td>Nottingham</td>
					<td>1163.4</td>
					<td>77.6</td>
					<td>15.5</td>
				</tr>
			</tbody>

		</table>
		<p>

		</p>
		<p>The Challenge has already started on September 26th  and plan to end at the end of the year. We have 9 Exercise Bikes (2 in Bicester and 4 in Nottingham and 3 in Gdansk) and ALL mileage must be done on the provided bikes. The idea being that time before work, during work (if on a call etc.), lunchtimes, other breaks and after work will be utilised to complete target miles. Participants are not be able to book time on the bikes but instead will be on a first come basis of availability.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>
			The Rules
		</h3>
		<ul>
			<li>Miles completed must be submitted to Carol (in the UK) and Dominica (in Poland) each Friday, the miles will then be entered onto the tracking site.</li>
			<li>We ask that each individual or team looks to gain sponsorship for their efforts – there is no minimum or maximum requirement but we do ask that the individuals and teams do make the effort to gain as much external sponsorship as they can.</li>
			<li>We will set-up a Just Giving Page for donations to be made and also provide sponsorship forms to do it the old fashioned way.</li>
			<li>Each individual will be responsible themselves for gaining sponsorship and in-turn, collecting their own money.</li>
			<li>There will be monthly prizes for whoever does the most miles in that month.</li>
			<li>We will also provide a prize for the team and individual that accumulates the highest amount of sponsorship.</li>
			<li>If non-cycling members of IT want to do other activities around this activity outside of work to attract sponsorship we will be more than happy to support these and of course take the donations.</li>
			<li>All monies raised in the UK will be donated to the Dollar Charity Committee and then divided between our approved Charities (Helen & Douglas House etc.) and all monies raised by Sii will be donated to Hospice Foundation in Gdansk.</li>
			<li>We expect all people involved to look after the bikes provided and act responsibly during the event.</li>
			<li>On completion we will auction the Exercise Bikes at an open bid event and any monies made will be added to the total. </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>
			Disclaimer
		</h3>
		
		<p>Health & Safety will perform a risk assessment before commencing the activity, but participation in this activity is undertaken at individuals own risk. Dollar will no take responsibility for any injury occurred during the activity.</p>
		
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>
			Contact:
		</h3>
	
		<p>Poland – <a href="Carol.McLeish@dfconline.com">UK - Carol McLeish</a></p>
		<p>Poland – <a href="mailto:darendt@pl.sii.eu">Poland – Dominika Arendt</a></p>
		
	</div>
</div>