@{
    ViewBag.Title = "Contact us";
}
<h1 class="page-title">@ViewBag.Title</h1>

<div class="row">
	<div class="col-md-5">
        <h3 class="page-subtitle">Sii - Gdańsk branch</h3>
		<section class="bs-component">
          <div class="list-group list-group_address">
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></i>
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading">We're located at</h4>
                <p class="list-group-item-text">al. Grunwaldzka 472a, 80-309 Gdańsk</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></i>
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading">Feel free to call us</h4>
                <p class="list-group-item-text"><a href="tel:+48583217800">+48 58 32 17 800</a>, fax  +48 22 486 37 34</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></i>
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading">Or e-mail us</h4>
                <p class="list-group-item-text"><a href="mailto:informacja-gdansk@pl.sii.eu">informacja-gdansk@pl.sii.eu</a></p>
              </div>
            </div>
		  </div>
        </section>
	</div>
    <div class="col-md-5">
        <h3 class="page-subtitle">Dollar UK</h3>
        <section class="bs-component">
            <div class="list-group list-group_address">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="material-icons"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></i>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">We're located at</h4>
                        <p class="list-group-item-text">al. Grunwaldzka 472a, 80-309 Gdańsk</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="material-icons"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></i>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">Feel free to call us</h4>
                        <p class="list-group-item-text"><a href="tel:+48583217800">+48 58 32 17 800</a>, fax  +48 22 486 37 34</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="material-icons"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></i>
                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading">Or e-mail us</h4>
                        <p class="list-group-item-text"><a href="mailto:informacja-gdansk@pl.sii.eu">informacja-gdansk@pl.sii.eu</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>