@{
	ViewBag.Title = "Home Page";
}

<div id="map"></div>

<div id="users-scores-table">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Team</th>
			<th>Distance</th>
			<th>To Go</th>
		</tr>
		<tr>
			<td>SII Solid</td>
			<td>144km</td>
			<td>1600km</td>
		</tr>
		<tr>
			<td>SII Webminions</td>
			<td>45km</td>
			<td>1700km</td>
		</tr>
	</table>

</div>

@section scripts
{
	<script src="~/Scripts/BikeOnMap.js"></script>
	<script>
		var map;
		var route;
		function initMap() {

			//var styles = [{ "featureType": "landscape", "stylers": [{ "saturation": -100 }, { "lightness": 65 }, { "visibility": "on" }] }, { "featureType": "poi", "stylers": [{ "saturation": -100 }, { "lightness": 51 }, { "visibility": "simplified" }] }, { "featureType": "road.highway", "stylers": [{ "saturation": -100 }, { "visibility": "simplified" }] }, { "featureType": "road.arterial", "stylers": [{ "saturation": -100 }, { "lightness": 30 }, { "visibility": "on" }] }, { "featureType": "road.local", "stylers": [{ "saturation": -100 }, { "lightness": 40 }, { "visibility": "on" }] }, { "featureType": "transit", "stylers": [{ "saturation": -100 }, { "visibility": "simplified" }] }, { "featureType": "administrative.province", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "labels", "stylers": [{ "visibility": "on" }, { "lightness": -25 }, { "saturation": -100 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "hue": "#ffff00" }, { "lightness": -25 }, { "saturation": -97 }] }];
			//var styledMap = new google.maps.StyledMapType(styles, { name: "Styled Map" });
			var mapOptions = {
				zoom: 6,
				center: new google.maps.LatLng(52.354, 370.17246),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				disableDefaultUI: true,
				scrollwheel: false,
				navigationControl: false,
				mapTypeControl: false,
				scaleControl: false,
				draggable: true
			};

			map = new google.maps.Map(document.getElementById('map', mapOptions), {
				
			});

			//map.mapTypes.set('map_style', styledMap);
			//map.setMapTypeId('map_style');

			Sii.loadRoute(map, '@Url.Action("GetRoute", "Ajax")', '@Url.Action("GetTeamStandings", "Ajax")', Sii.displayRoute);
		};

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"])&callback=initMap" async defer></script>
}